body {
    font-family: 'Roboto', sans-serif;
    padding: 3%;
}

h1 {
    background-color: rgb(21, 97, 109);
    color: rgb(255, 125, 0);
}

.about {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 60px;
    left: 230px;
}

body {
    background-color: rgb(255, 236, 209);
}

#city-country{
    font-weight: bold;
    position: absolute;
    top: 195px;
    left: 210px;
}

.abilities {
    font-size: 20px;
}

#personal-name {
    font-size: 30px;
    text-align: center;
}

#Vitor {
    float: left;
    padding: 10px;
    background-color: rgb(255, 125, 0);
}

.image-container {
    height: 290px;
    position: relative;
}