body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: sans-serif;
    background-color: rgb(21, 97, 109);
    color: rgb(255, 125, 0);
}

.paragrafo-sobre {
    font-family: 'Roboto', sans-serif;;
}

body {
    background-color: rgb(255, 236, 209);
}

#nacionalidade-cidade {
    font-weight: bold;
}

.habilidades-destaque {
    font-size: 20px;
}

#personal-name {
    font-size: 30px;
    text-align: center;
}

#Vitor {
    float: left;
    padding: 10px;
    background-color: rgb(255, 125, 0);
}

.image-container {
    height: 290px;
}

div {
    border: 2px solid black;
}
